<div class="col-xl-3 col-sm-6 col-6 mb-2">
    <div class="card p-3 {% block bg-dash %}{% endblock %}">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="align-self-center">
                    {% block icon %} {% endblock %}
                </div>
                <div class="text-end">
                    <h3>{% block value %} {% endblock %}</h3>
                    <p class="mb-0">{% block dash-title %}{% endblock %}</p>
                </div>
            </div>
        </div>
    </div>
</div>