html,
body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  /* overflow: hidden; */
}

/* FOOTER */

/* Keep the footer always down */
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
#footer,
.push {
  height: 50px;
}

/* OTHERS */
/* All buttons (width) */
.my-btn {
  width: 90px;
}
.my-btn2 {
  width: 45px;
}
/* Remove lines in all <a> tags */
a {
  text-decoration: none;
}
/* Upload field boxes (file and image) */
.text-break,
.input-group-text {
  font-size: 13px !important;
}

/* FontAwesome font-size */
.f-size {
  font-size: 26px;
}
.f-size2 {
  font-size: 20px;
}
/* Put the navbar content centered */
.to_center {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

/* Pagination (Grey) */
.page-item.active .page-link {
  columns: #fff;
  background-color: #6c757d;
  border: 1px solid #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
  color: #111;
  background-color: #d3d3d3;
  border: 1px solid #6c757d;
  box-shadow: none;
}

/* RESPONSIVE (1199px) */

@media (max-width: 1199px) {
  /* Filter (width 100%) */
  .wd-100 {
    width: 100%;
    padding: 1px;
  }
  /* Table */
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
    border: 1px solid #111;
    border-radius: 3px;
  }
  .table td {
    text-align: right;
    padding-left: 35%;
    position: relative;
    border: 1px solid transparent;
  }
  .table td::before {
    content: attr(label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
  }
  .table > thead > tr:first-child {
    display: none;
    margin-top: 5px;
  }
  /* First cell - change bg-color */
  #top-border {
    background-color: #111;
    color: #fff;
  }
  /* Responsive border */
  #sm-border {
    border: 1px solid #a9a9a9;
  }
  /* Footer */
  #footer {
    font-size: 13px;
  }
}
