html,
body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  /* overflow: hidden; */
}

/* FOOTER */

/* Keep the footer always down */
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
#footer,
.push {
  height: 50px;
}

/* OTHERS */
/* All buttons (width) */
.my-btn {
  width: 90px;
}

/* Remove lines in all <a> tags */
a {
  text-decoration: none;
}
/* Upload field boxes (file and image) */
.text-break,
.input-group-text {
  font-size: 13px !important;
}
