{% extends "base.html" %}

<!-- Block title -->
{% block title %}All Candidates{% endblock title %}

<!-- Block navbar -->
{% block nav-content %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-3 mt-md-3 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-middle">
            <li class="nav-item">
                <a href="#" class="btn btn-light my-btn2" title="Control Panel">
                    <i class="fas fa-user-cog f-size2"></i>
                </a>
                <a href="{% url 'admin:index' %}" target="_blank" class="btn btn-warning my-btn2" title="Admin">
                    <i class="fas fa-cog f-size2"></i>
                </a>
                <a href="{% url 'logout' %}" class="btn btn-danger my-btn2" title="Logout">
                    <i class="fas fa-power-off f-size2"></i>
                </a>
            </li>
        </ul>
        <hr class="text-light">
        <!-- Global search navbar (method not required) -->
        <form action="" class="d-flex">
            <input class="form-control me-1" name="q" type="search" placeholder="Global Search" value="{{ request.GET.q }}">
            <button class="btn" style="background: #d3d3d3;" title="Search" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'backend' %}" class="btn btn-secondary ms-1" title="Refresh">
                <i class="fas fa-sync-alt"></i>
            </a>
        </form>
        <hr class="text-light">
    </div>
{% endblock nav-content %}

<!-- Page content -->
{% block content %}
<div class="container" style="width: 90%;">
    <!-- Button -->
    <!-- <a href="{% url 'logout' %}" class="btn btn-outline-danger mt-3 mb-3 my-btn">Log out</a> -->

    <!-- Header -->
    <!-- <h6 class="card p-2 bg-secondary text-light text-center mb-3">LIST OF CANDIDATES</h6> -->

    <!-- Filter (Using native Django filters) -->
    <form method="POST" class="mt-5 mb-2">
        {% csrf_token %}
        <div class="btn-group wd-100" role="group" aria-label="Basic radio toggle button group">
            <!-- Occupation -->
            <input type="radio" class="btn-check" value="FR-22" name="job" id="btnradio1" autocomplete="off">
            <label {% if request.POST.job == 'FR-22' %} class="btn btn-secondary" {% else %} class="btn btn-outline-secondary" {% endif %} for="btnradio1">FR-22</label>

            <input type="radio" class="btn-check" value="BA-10" name="job" id="btnradio2" autocomplete="off">
            <label {% if request.POST.job == 'BA-10' %} class="btn btn-secondary" {% else %} class="btn btn-outline-secondary" {% endif %} for="btnradio2">BA-10</label>

            <input type="radio" class="btn-check" value="FU-15" name="job" id="btnradio3" autocomplete="off">
            <label {% if request.POST.job == 'FU-15' %} class="btn btn-secondary" {% else %} class="btn btn-outline-secondary" {% endif %} for="btnradio3">FU-15</label>
            &nbsp; &nbsp;

            <!-- Gender -->
            <input type="radio" class="btn-check" value="M" name="gender" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-secondary my-btn2" for="btnradio4">M</label>

            <input type="radio" class="btn-check" value="F" name="gender" id="btnradio5" autocomplete="off">
            <label class="btn btn-outline-secondary my-btn2" for="btnradio5">F</label>
            &nbsp; &nbsp;
            
            <button class="btn" style="background: #d3d3d3;" title="Search" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

    <!-- Table -->
    <table class="table table-bordered text-center">
        <thead class="table-secondary">
            <tr>
                <th style="width: 19%;">Name</th>
                <th style="width: 19%;">Email</th>
                <th style="width: 14%;">Phone</th>
                <th style="width: 8%;">Gender</th>
                <th style="width: 10%;">Occupation</th>
                <th style="width: 10%;">Experience</th>
                <th style="width: 15%;">Received</th>
                <th colspan="2" style="width: 5%;">Action</th>
            </tr>
        </thead>
        <tbody style="font-size: 14px;">
            {% for data in candidates %}
            <tr>
                <td>{{ data.firstname }} {{ data.lastname }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.gender }}</td>

                <!-- Statement to Occupation -->
                {% if data.job == "FR-22" %}
                    <td>Frontend</td>
                {% elif data.job == "BA-10" %}
                    <td>Backend</td>
                {% else %}
                    <td>Fullstack</td>
                {% endif %}

                <!-- Statement to Experience -->
                {% if data.experience == False %}
                    <td class="text-danger">No</td>    
                {% else %}
                    <td>Yes</td>
                {% endif %}

                <td>{{ data.created_at|date:"m/d/Y (H:i)" }}</td>

                <!--
                {% if data.smoker == "1" %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                -->
                <td>
                    <a href="{% url 'candidate' data.id %}" class="btn btn-secondary mt-btn2 btn-sm" title="View candidate">
                        <i class="fas fa-user-alt"></i>
                    </a>
                </td>
                {% empty %}
                <td colspan="8" class="text-danger"><strong>No records found</strong></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination -->
    <nav>
        {% if candidates.has_other_pages %}
        <ul class="pagination">
            {% if candidates.has_previous %}
            <a href="?page=1" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3;">First</a>
            <li class="page-item"><a href="?page?={{ candidates.previous_page_number }}" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}
            {% for i in candidates.paginator.page_range %}
            {% if candidates.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
            {% else %}
            <li class="page-item"><a href="?page{{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if candidates.has_previous %}
            <li class="page-item"><a href="?page?={{ candidates.next_page_number }}" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
            <a href="?page={{ candidates.paginator.num_pages }}" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Last</a>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}