{% extends "base.html" %}

<!-- Block title -->
{% block title %}Candidate{% endblock title %}

<!-- Block navbar -->
<!-- BG Color -->
{% block navbar %}
    {% if candidate.gender == 'F' %}
        bg-danger
    {% else %}
        bg-primary
    {% endif %}
{% endblock navbar %}

<!-- Navbar Content -->
{% block nav-content %}
<a href="" class="navbar-brand flex-grow-1 text-center text-light" style="left: 50%; transform: translate(-50%); position: relative;">
    <i class="fas {% if candidate.gender == 'F' %} fa-female {% else %} fa-male {% endif %} f-size"></i>&nbsp;&nbsp;{{candidate.firstname}} {{candidate.lastname}}
</a>
{% endblock nav-content %}

<!-- Block footer -->
{% block footer %}
    {% if candidate.gender == 'F' %}
        style="color: #FF7F7F;"
    {% else %}
        style="color: #89cff0;"
    {% endif %}
{% endblock %}

<!-- Page content -->
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h6 class="mb-3">CANDIDATE: {{ candidate.id }}</h6>
        <a
            class="btn {% if candidate.gender == 'F' %} btn-danger {% else %} btn-primary {% endif %} btn-sm border-light"
            href="{{ candidate.file.url }}"
            style="width: 150px;"
        >
            Download CV
        </a>
    </div>
    <hr>
    <div class="float-end">
        <img src="{{ candidate.image.url }}" alt="img-fluid img-thumbnail" width="150" height="150">
        <div class="text-center mt-2" style="font-size: 14px;">{{ candidate.birth|timesince }} old</div>
    </div>
    <!-- PERSONAL -->
    <h6 class="text-primary mb-4 mt-4">PERSONAL</h6>
    <!-- Statement to job code -->
    {% if candidate.job == 'FR-22' %}
        <p><strong>Occupation:</strong> Frontend</p>
    {% elif candidate.job == 'BA-10' %}
        <p><strong>Occupation:</strong> Backend</p>
    {% else %}
        <p><strong>Occupation:</strong> Fullstack</p>
    {% endif %}

    <p><strong>Gender:</strong> {{candidate.gender}}</p>
    <p><strong>Phone:</strong> {{candidate.phone}}</p>
    <p><strong>Email:</strong> {{candidate.email}}</p>
    <p><strong>Birth Date:</strong> {{candidate.birth}}</p>
    <p><strong>Personality:</strong> {{candidate.personality}}</p>
    {% if candidate.smoker == True %}
        <p><strong>Smoker:</strong> Yes</p>
    {% else %}
        <p><strong>Smoker:</strong> <span class="text-danger">No</span></p>
    {% endif %}
    {% if candidate.experience == True %}
        <p><strong>Experience:</strong> Yes</p>
    {% else %}
        <p><strong>Experience:</strong> <span class="text-danger">No</span></p>
    {% endif %}
    <p><strong>Salary expectation:</strong> {{candidate.salary}}</p>
    <p><strong>Presentation:</strong> {{candidate.message}}</p>
    <hr>
    <!-- SKILLS -->
    <h6 class="text-primary mb-4 mt-4">SKILLS</h6>
    <p><strong>Frameworks:</strong> {{candidate.frameworks}}</p>
    <p><strong>Languages:</strong> {{candidate.languages}}</p>
    <p><strong>Databases:</strong> {{candidate.databases}}</p>
    <p><strong>Libraries:</strong> {{candidate.libraries}}</p>
    <p><strong>Mobile:</strong> {{candidate.mobile}}</p>
    <p><strong>Others:</strong> {{candidate.others}}</p>
    <hr>
    <!-- EDUCATIONAL -->
    <h6 class="text-primary mb-4 mt-4">EDUCATIONAL</h6>
    <p><strong>Institution:</strong> {{candidate.institution}}</p>
    <p><strong>Course:</strong> {{candidate.course}}</p>
    <p><strong>Started:</strong> {{candidate.started_course}}</p>
    <p><strong>Finished:</strong> {{candidate.finished_course}}</p>
    <p>
        <strong>Status:</strong>
        {% if candidates.status == 'I took a break' %}
            <span class="text-danger">{{candidate.status_course}}</span>
        {% elif candidates.status == "I'm studying" %}
            <span class="text-success">{{candidate.status_course}}</span>
        {% else %}
            <span style="color: green;">{{candidate.status_course}}</span>
        {% endif %}
    </p>
    <p><strong>About:</strong> {{candidate.about_course}}</p>
    <hr>
    <!-- EXPERIENCE -->
    <h6 class="text-primary mb-4 mt-4">EXPERIENCE</h6>
    <p><strong>Company:</strong> {{candidate.Company}}</p>
    <p><strong>Position:</strong> {{candidate.position}}</p>
    <p><strong>Started:</strong> {{candidate.started_job}}</p>
    <p><strong>Finished:</strong> {{candidate.finished_job}}</p>
    <p><strong>About:</strong> {{candidate.about_job}}</p>
    <!-- NOTE -->
    <h6 class="text-primary mb-4 mt-4">EXPERIENCE</h6>
    <!-- Employed -->
    {% if candidate.employed == True %}
        <p><strong>Employed:</strong> <span class="text-primary">Yes</span></p>
    {% else %}
        <p><strong>Employed:</strong> No</p>
    {% endif %}
    <!-- Remotely -->
    {% if candidate.remote == True %}
        <p><strong>Accept to work remotely:</strong> Yes</p>
    {% else %}
        <p><strong>Accept to work remotely:</strong> <span class="text-danger">No</span></p>
    {% endif %}
    <!-- Travel -->
    {% if candidate.travel == True %}
        <p><strong>Available for trips:</strong> Yes</p>
    {% else %}
        <p><strong>Available for trips:</strong> <span class="text-danger">No</span></p>
    {% endif %}
    <hr>
    <a href="{% url 'backend' %}" class="btn btn-secondary mt-3 mb-3">All Candidates</a>
</div>
<br><br><br>
{% endblock content %}