{% extends 'base.html' %}

<!-- Block title -->
    {% block title %} Candidate chat group {% endblock title %}

<!-- Block navbar -->
    {% block nav-fixed %} fixed-top {% endblock nav-fixed %}
    {% block nav-content %}
    <a href="" class="navbar-brand flex-grow-1 text-center text-light to_center">
        <i class="fas fa-comment-alt"></i>&nbsp;&nbsp; ABOUT CANDIDATE
    </a>
    {% include 'partials/back.html' %}
    {% endblock nav-content %}
<!-- Block footer -->
    {% block footer %} style="color: #d3d3d3" {% endblock footer %}

<!-- Page content -->
    {% block content %}
    <style>
        body {
            background-color: #e2e3e5;
        }
    </style>
    <div class="container mb-3 mt-3" id="chat-data">
        <button class="btn btn-ligh border-dark" style="cursor: default;">
            Candidate: <strong>{{ candidate.firstname }} {{ candidate.lastname }}</strong>
        </button>
        <button 
            class="border-dark btn {% if candidate.situation == 'Pending' %} btn-warning {% elif candidate.situation == 'Approved' %} btn-success {% else %} btn-danger {% endif %}"
            style="cursor: default;">
            {{ candidate.situation }}
        </button>
    </div>
    <div class="container mt-3 mb-5 card-chat">
        <div class="card border p-4" id="#top">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="candidate_email" value="{{  candidate.email }}">
                <input type="hidden" name="user" value="{{  user.get_username }}">
                <div class="input-group mb-4">
                    <input type="text" name="chat" class="form-control" placeholder="Your comment here...">
                    <button class="btn btn-outline-secondary" type="submit">Submit</button>
                </div>
                <hr class="text-primary border-5">
            </form>
            <!-- Logic using template tag -->

            <!-- 'FOR' to get candidate chat -->
            {% for data in chat_candidate %}
                {% if data.candidate_email == candidate.email %} <!-- It makes a comparison (two models class) -->
                    {% for x in list_users %}
                        {% if x.is_superuser %}
                            {% if data.user == x.username %}
                                {% include 'partials/talk_admin.html' %}
                            {% else %}
                                {% include 'partials/talk_users.html' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <!-- Go up -->
            {% include 'partials/go_up.html' %}
        </div>
    </div> <!-- END // container-->
    {% endblock content %}